<div class="content">
<%= render partial: "toppages/left-middle"%>
  <div class="chat-main">
    <div id="messages" class="messages">
    <%= render @messages %>
    </div>
    <div class="form">
      <form class="new-message">
        <input id="chat-input" id="chat-input" class="input-text" placeholder="type a message" type="text">
        <button id="button" class="submit-btn" type="submit" name="commit" value="Send">送信</button>
      </form>
    </div>
  </div>
</div>