<div class="content">
  <div class="content__left">
    <div class="content__left__friends">
      <div class="content__left__friends--list">
        friend
      </div>
    </div>
  </div>
  <div class="content__right">
    <div class="content__right__groups">
      groups
      <div class="content__right__groups--list">
      </div>
    </div>
  </div>
</div>