.header{
  height: 100px;
  padding: 0 150px;
  background-color: #55c500;
  color: #fff;
  border: 1px solid darkgray;
  &__title{
    font-size: 35px;
    line-height: 100px;
    &--text{
      text-decoration: none;
      color: #fff;
    }
  }
}

.content {
  display: flex;
  &__left{
    height: 100vh;
    width: calc(100% - 80%);
    background-color: #55c500a9;
    
    border: 2px solid rgba(98, 98, 206, 0.658);
  }
  &__right{
    height: 100vh;
    width: calc(100% - 20%);
    background-color: #55c50044;
    border: 2px solid rgba(98, 98, 206, 0.658);
    
  }
}