.header{
  height: 70px;
  width: 100%;
  padding: 0 150px;
  background-color: #55c500;
  color: #fff;
  &__title{
    font-size: 30px;
    line-height: 70px;
    &--text{
      text-decoration: none;
      color: #fff;
    }
  }
}